//COLORES PRIMARIOS
$azulClaro: hsl(243,86%,85%); //#BBB8FA;
$white:#FFFFFF;
$azulOscuro: #08053c;
$grisClaro :#858282;
$azulMuyOscuro:hsl(243°, 90%, 7%);//#05055c;
$moradoMedio:#474199;


//COLORES FUERTES
$verde:hsl(163,95%,43%);//#05d69b;
$azulOscuro:hsl(243,58%,33%);//#282385;

//Neutrales
$gris:hsl(0,0%,50%);//#808080;
 
 