//COLORES PRIMARIOS
$azulClaro: hsl(243,86%,85%); //#BBB8FA;
//$azulMuyOscuro:hsl(240,89.7%,19%);//#05055c;
$azulMuyOscuro:hsl(243°, 90%, 7%);//#05055c;



$white:#FFFFFF;
$azulOscuro: #08053c;
$grisClaro :#858282;


//COLORES FUERTES
$verde:hsl(163,95%,43%);//#05d69b;
$azulOscuro:hsl(243,58%,33%);//#282385;

//Neutrales
$gris:hsl(0,0%,50%);//#808080;
 
 