


html{
    box-sizing: border-box;
    font-size:100%;
}

*,*:after,*:before{
    box-sizing: inherit;//Eviar el el pading no afecte  las propiedades height y padding:Obtendre estas dos propiedades de su padre
}
body{
    margin: 0;
    font-family: $secundaryFont;
    width: 100%;    //Ajustar el body a pantalla completa
    overflow-x: hidden;
     
             
}

h1{
    font-family: $primaryFont;
    font-size: 2rem; 
    font-weight: 700;
    color:$white;
}

a,a:visited{
    text-decoration:none;
}

p{
font-size:0.8rem;
line-height: 1.3 ;
}

//Media queries
$mq-540-up:"screen and(min-width:540px)";
$mq-1000-up:"screen and(min-width:1000px)";
$mq-1200-up:"screen and(min-width:1200px)";


//HELPER CLASES:Clases reusables

.wrapper{
   padding:25px;
   // padding:25px 0 25px 25px;
   
    @media #{$mq-1000-up}
    {
        padding:52px 80px;
    }

}


.blueRadialGradient{
//DEFINIMOS:tipo de gradiente,forma de gradiente,tamaño,posicion, color de inicio y color final
background-image:radial-gradient(circle at bottom right,#8E89F7,#05055c,);
}


