.hero{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;//sin uso
    z-index: 1;//sin uso
    padding:100px 0 75px;
    

    &__image{
    width:200px;
    margin-bottom:30px;
    }

    &__text{
    text-align:center;
            
    h1{
        margin:0 0 36px 0;
        font-size:1.5rem;
        @media #{$mq-1000-up }{
            font-size:1.5rem;
        }
    }
    }
 
}

a.button{
    font-size: 0.9rem;
    font-weight: 700px;
    padding:15px 60px;
    

}