//COLORES PRIMARIOS
$azulClaro: hsl(243,86%,85%); //#BBB8FA;
$white:#FFFFFF;
$azulOscuro: #08053c;
$grisClaro :#858282;
$azulMuyOscuro:hsla(246, 63%, 20%, 1);//#05055c;
$moradoMedio:#474199;
$moradoOscuro:#07043b;


//COLORES FUERTES
$verde:hsl(163,95%,43%);//#05d69b;
$azulOscuro:hsl(243,58%,33%);//#282385;

//Neutrales
$gris:hsl(0,0%,50%);//#808080;
 
 