
header{
 position: relative;//
 
 
     
//  &:after{//Añadir el elemento inmediatamente despues  del elemento padre(header) usando "&"
//         content: 'Pseudo elemento :after';//Asignar algun valor al pseudo  elemento , no puede estar vacia
//         color:white;
//         position: absolute;
//         top:0;
//         z-index: 0;//Ubicar detras
//         width:100%;//asginarle el tamaño del padre
//         height: 100%;
//         //transform: translateX(44%);
//         transform: translatey(910px);
//         background-image:radial-gradient(circle at bottom right,#8E89F7,#120075,);
//          }

    nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100px;   
        z-index: 1;
        font-family:$primaryFont;
        

        

        a, button{
        
        font-size:0.75rem;
        font-weight:400;
        color:$white;
        @media #{$mq-1000-up}{
            font-size:1rem;
        }


        }

        a{
            margin-right: 15px;
            @media #{$mq-1000-up}{
                
            }
            margin-right:30px;
        }
        

    }
} 